.card-wine-buttons {
  display: flex;
  justify-content: space-evenly;
}

.submit-button {
  background-color: #a58875;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  }

  .submit-button:hover {
    background-color: #795f4e;
  }

  .delete-button {
    background-color: #79433c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;
    }

    .delete-button:hover {
      background-color: #48211c;
    }

    .card-wine-buttons a {
      text-decoration: none;
      color: inherit; /* Inherit the parent's text color */
    }

    .card-wine-buttons a:hover {
      color: #dad6d6;
    }

    .fa-heart {
      color: rgba(203, 173, 169, 0.2);
      font-size: 25px;
      position: relative;
      text-shadow: 0 0 2px #392723, 0 0 2px #392723, 0 0 2px #392723, 0 0 2px #392723;
    }

    .fa-heart:hover {
      color: #74392d;
    }

    .fa-heart.filled {
      color: #74392d;
    }

    .fa-heart.filled:hover {
      color: #56423E
    }
