.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the cards */
}

.card-index {
  border-radius: 5px;
  width: 280px;
  /* background-color: #d8bea3; */
  background: rgba(94, 67, 67, 0.6);
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}

.card-index-body {
  padding: 20px;
  padding-top: 25px;
}

.card-home {
  border-radius: 5px;
  background: rgba(94, 67, 67, 0.6);
  text-decoration: none;
  color: #ffffff;
  margin: 20px;
  margin-bottom: 100px; /* prevents to go under the footer */
  padding: 20px;
  max-width: 90%; /* Allow the card to expand */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.card-wine {
  border-radius: 5px;
  width: 280px;
  height: auto;
  background: rgba(94, 67, 67, 0.6);
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  padding-bottom: 20px;
}

.card-wine-body {
  padding: 20px;
  padding-top: 32px;
}

.wine-details {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for transparency */
  padding-bottom: 15px;
}
