.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the cards */
}

.card-index {
  border-radius: 5px;
  width: 280px;
  /* background-color: #d8bea3; */
  background: rgba(94, 67, 67, 0.7);
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  overflow: hidden;
}

.card-index-body {
  padding: 20px;
  padding-top: 25px;
}

.card-home {
  border-radius: 5px;
  background: rgba(94, 67, 67, 0.7);
  text-decoration: none;
  color: #ffffff;
  margin: 20px auto;
  margin-bottom: 100px; /* prevents from going under the footer */
  padding: 20px;
  max-width: 800px; /* Set a maximum width */
  width: 90%; /* Fallback for smaller screens */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}


.card-wine {
  border-radius: 5px;
  height: auto;
  background: rgba(94, 67, 67, 0.7);
  text-decoration: none;
  color: #ffffff;
  margin: 10px auto; /* Center the card horizontally */
  padding-bottom: 20px;
  overflow: hidden;
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}


.card-wine-body {
  padding: 20px;
  padding-top: 32px;
}

.wine-details {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for transparency */
  padding-bottom: 15px;
}

/*
.empty-wine {
  background: rgba(55, 45, 45, 0.8);
  border-bottom: 0.5px solid rgba(152, 142, 142, 0.5);
  color: rgba(211, 202, 202, 0.9);
}
*/
