.navbar-lewagon {
  justify-content: space-between;
  background: rgba(1, 1, 1, 0.5);
  padding-right: 10px;
  padding-left: 10px
}

.navbar-toggler {
  background-color: #c0b0b0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav > li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  transition: border-color 0.3s ease-in-out;
}

.navbar-nav > li:hover {
  border-color: #acacac;
}

.navbar-nav .nav-link {
  color: #ffff;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #acacac;
}

.menu-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
