// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/cards";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Open+Sans:wght@300&family=Parisienne&family=Satisfy&display=swap');

// common behaviors

body.body-homepage {
  background-color: #2e1c20;
  background-image: none;
  color: #e4dde3;
}

body {
  background-color: #3d2832;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/background5.jpg');
  color: #e4dde3;
  background-size: cover; /* Cover the width */
  background-size: 100% auto; /* Maintain aspect ratio for the height */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'lora', serif;
}

h2 {
  font-family: 'parisienne', serif;
  color: #ffff;
  text-align: center;
  font-size: 36px;
}

.icon-link {
  text-decoration: none;
}

/* FORM CUSTOMIZATION */

input {
  border: 1px solid black;
}

.valid-input {
  border: 2px solid green !important;
}

input:invalid {
  animation: shake 0.5s;
  border: 2px solid red !important;
}

abbr {
  text-decoration: none !important; /* Remove the underline with !important */
}


@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
      transform: translateX(10px);
  }
}
