<div class="container">
  <div class="row justify-content-center">
    <h2 class="mt-3">Modifier le vin</h2>
    <div class="home-grid mt-3 mb-5 d-flex flex-wrap">
      <div class="card-wine mx-auto">
        <div class="card-wine-body">
          <%= render 'form', wine: @wine %>
        </div>
      </div>
    </div>
  </div>
</div>
